@use 'sass:math';
// using @include ui_col(3, 4);
// using @include ui_col(4, 4, 20px, 24);
// using @include ui_col_offset(4);

///* columns */
@mixin col($col, $length_line:1, $gutter: $ss-layout-gutter, $size: $ss-columns-size ) {
  $_gutter: _strip-unit($gutter);
  $s1: _precision_round(math.div($col, $size), 7);
  $s2: $s1 * 100;
  $s3: _precision_round($_gutter - $_gutter * $s1, 5);
  $unit: unit($gutter);
  @if $unit == '' {
    $unit: 'px';
  }

  @if $unit == '%' {
    width: #{$s2 - $s3 + '%'};
  } @else {
    width: calc(#{$s2 + '%'} - #{$s3 + $unit});
  }

  &:nth-child(1n) {
    margin-right: #{$_gutter + $unit};
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(#{$length_line}n) {
    margin-right: 0;
  }
}

@mixin col-offset($col, $gutter: $ss-layout-gutter, $size: $ss-columns-size ) {
  $_gutter: _strip-unit($gutter);
  $s1: _precision_round(math.div($col, $size), 7);
  $s2: $s1 * 100;
  $s3: _precision_round($_gutter * $s1, 5);
  $unit: unit($gutter);
  @if $unit == '' {
    $unit: px;
  }
  @if $unit == '%' {
    margin-left: #{$s2 + $s3 + '%'};
  } @else {
    margin-left: calc(#{$s2+'%'} + #{$s3+$unit});
  }
}